.content .left-side .left-img {
    width: 510px;
  }

.middle-side .photo-content {
    width: 800px;
    height: 495px;
    overflow: hidden;
    position: absolute;
    right: 40px;
    top: 210px;
    border-radius: 20px;
    display: flex;
    gap: 20px;
}

.middle-side .photo-content .description {
    position: absolute;
    padding: 10px;
    width: 800px;
    background-color: hsl(196deg 50% 55% / 70%);
    color: #ff8405;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    bottom: 0;
}

.middle-side .photo-content img {
    width: 100%;
}

.middle-side .toggle-content {
    position: absolute;
    width: 600px;
    padding: 10px;
    display: flex;
    bottom: 140px;
    right: 125px;
    justify-content: space-evenly;
    align-items: center;
}

.middle-side .toggle-content .circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #62b7da;
}

.modal {
    position: fixed;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    width: 80%;
    height: 560px;
    border-radius: 10px;
    padding: 10px;
    transition: 0.5s;
}

.modal.notAppear {
    top: 49%;
    z-index: -1;
    opacity: 0;
}

.modal .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    border-radius: 10px;
}

.modal-content {
    border-radius: 0.5rem;
    width: 100%;
    max-width: 72rem;
    max-height: 90vh;
    position: relative;
    z-index: 2;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
}

.tree-container {
    padding: 2rem;
}

.tree {
    display: flex;
    gap: 25px;
    justify-content: center;
    max-width: 100%;
    margin: 0 auto;
}

.branch {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    font-size: 14px;
}

.branch.down-branch {
    top: 160px;
}

.branch.side-line::before {
    content: "";
    position: absolute;
    top: -18px;
    right: -14px;
    width: 2px;
    height: 95%;
    background-color: #f59e0b;
}

.branch.second-side-line::before {
    content: "";
    position: absolute;
    top: 37px;
    right: -14px;
    width: 2px;
    height: 33.6%;
    background-color: #f59e0b;
}

.branch.second-side-line .main-node {
    margin-bottom: 90px;
}

.branch.therd-side-line::before {
    content: "";
    position: absolute;
    top: 37px;
    right: -14px;
    width: 2px;
    height: 16.6%;
    background-color: #f59e0b;
}

.branch.therd-side-line .main-node.small-branch::after {
    content: '';
    position: absolute;
    top: 50%;
    right: -15px;
    width: 2px;
    height: 82px;
    background-color: #e79100;
}

.branch.fourth-side-line::before {
    content: "";
    position: absolute;
    top: 37px;
    right: -14px;
    width: 2px;
    height: 50.2%;
    background-color: #f59e0b;
}

.branch.last-branch::before {
    content: "";
    position: absolute;
    top: 37px;
    right: -14px;
    width: 2px;
    height: 50.2%;
    background-color: #f59e0b;
}

.main-node {
    background-color: #0ea5e9;
    color: white;
    border-radius: 25px;
    margin-bottom: 10px;
    position: relative;
    border: 3px solid #e98f2e;
    width: fit-content;
    width: 150px;
    text-align: center;
    font-weight: 500;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub-branches {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    position: relative;
}

.sub-branches::before {
    content: '';
    position: absolute;
    top: -2rem;
    left: 50%;
    width: 2px;
    height: 2rem;
    background-color: #f59e0b;
}

.node {
    background-color: #38bdf8;
    color: white;
    padding: 0.75rem 1.5rem;
    border-radius: 0.5rem;
    position: relative;
    border: 2px solid #0284c7;
    width: fit-content;
    min-width: 180px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.node.withLine::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -4rem;
    width: 3.5rem;
    height: 2px;
    background-color: #f59e0b;
}

.branch .main-node.withLine::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -6rem;
    width: 5.8rem;
    height: 3px;
    background-color: #e79100;
}

.branch .main-node::after {
    content: '';
    position: absolute;
    top: 50%;
    right: -15px;
    width: 15px;
    height: 3px;
    background-color: #e79100;
}

.branch.last-branch .main-node:first-child:after {
    content: "";
    position: absolute;
    top: 50%;
    right: -205px;
    width: 203px;
    height: 3px;
    background-color: #e79100;
}

.swiper {
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 500px;
    right: 450px;
    transform: translate(50%, -50%);
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
    display: block;
}

.slider-wrapper {
    overflow: hidden;
    max-width: 780px;
    height: 450px;
    margin-bottom: 40px;
}

.swiper-pagination {
    position: absolute;
    bottom: 10px;
    left: 50%;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.swiper-pagination-bullet {
    width: 16px;
    height: 16px;
    background-color: #20a0d5;
    opacity: 0.5;
    margin: 0 6px;
    transition: opacity 0.3s, background-color 0.3s;
    cursor: pointer;
}

.swiper-pagination-bullet-active {
    background-color: #ff8405;
    opacity: 1;
}

.card-list .card-item {
    color: white;
    width: 400px;
    display: flex;
}

.card-list .card-item .user-image {
    border-radius: 10px;
    position: relative;
}

.card-list .card-item .user-image::before {
    content: "Description";
    position: absolute;
    bottom: 0;
    right: 50%;
    transform: translate(-50%);
    width: 100%;
    height: 60px;
    background-color: black;
    z-index: 10;
}

.nav-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    position: absolute;
    top: 53rem;
    right: 30px;
}

.nav-container .nav-button {
    border-radius: 16px;
    background: linear-gradient(90deg, #5cd4ff, #008cc6);
    cursor: pointer;
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-weight: 700;
    margin: 0 3px;
    height: 64px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    overflow: hidden;
    position: relative;
    z-index: 1;
    padding: 10px;
    text-align: center;
}

.nav-container .nav-button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(88deg, #0699d5, #008fca);
    opacity: 0;
    transition: opacity 0.3s;
    z-index: -1;
}

.nav-container .nav-button:hover::before {
    opacity: 1;
}